/* CSS declarations go here */
@import url('reset.css');

body { font-size: 16px; }

ul li:before { vertical-align: baseline; content: '\25CF'; font-size: 1em; padding-right : 0.5em; }

ul li.raider:before { color : red; }
ul li.web-ui:before { color : black; }

ul li { padding-bottom : 4px; }